$primary-color: #F1F7FB;
$secondary-color: #0A6EE7;
$bg-main: #F1F7FB !important;
$button-f: #0A6EE7;
$bg-footer: linear-gradient(90deg,rgba(0, 161, 233, 1) 0%, rgba(0, 161, 233, 1) 10%, rgba(0, 78, 186, 1) 100%);;
$gray: #e7e7e7;
// Font
$font-heading: "Oleo Script", system-ui;;
$font-main: "Oleo Script", system-ui;;
$font-color: #000000;
$h-color: #FFFFFF;

//Device
$mobile: 480px;
$tablet-sm: 576px;
$tablet: 767px;
$laptop: 992px;
$desktop: 1200px;
