@use '../abstracts/variables' as *;
button {
  padding: 10px 20px;
  border: none;
  border-radius: 0;
  color: $primary-color;
  cursor: pointer;
}
.btn{
  padding: 0;
  margin: 0;
  padding: 12px 40px !important;
  &--create{
    border: 0;
    margin-bottom: 0 !important;
    background-color: $button-f !important;
    color: $primary-color!important;
  }
  &--blue{
    background-color: $button-f !important;
    color: $primary-color!important;
    width: calc(50% - 1rem);
    margin-right: 20px;
  }
  &--white{
    background-color:  $primary-color!important;
    color: $button-f!important;
    width: calc(50% - 1rem);
  }
  &--process{
    width: 30% !important;
    margin-top: 50px !important;
    text-align: center;
  }
}