@use "../abstracts/variables" as *;
.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  align-items: stretch;
  height: auto !important;
}

.swiper-slide {
  height: auto !important;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
}
.image-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 {
  height: 400px;
  margin-bottom: 10px;
}

.mySwiper {
  height: 100px;
}

.mySwiper .swiper-slide {
  opacity: 0.4;
  cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.swiper-nav {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 37px;
  width: 25%;
  display: none !important;
  @media (max-width: $tablet-sm) {
    display: block !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  margin: 0;
  width: 30px !important;
  height: 30px !important;
  border: 1.5px solid $light-gray;
  border-radius: 10px;
  background: $primary-color;
  color: $blue-contact;
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    font-size: 13px !important;
    font-weight: 700;
    color: $dark-b;
  }
}

.swiper-pagination {
  position: static;
  bottom: 49px !important;
  left: -117px !important;
  display: none !important;
  @media (max-width: $tablet-sm) {
    display: block !important;
  }
}

.swiper-pagination-bullet-active {
  background: $blue-contact;
}

.swiper-Thumbnails {
  @media (max-width: $tablet-sm) {
    display: none !important;
  }
}
