@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
footer{
    background: $bg-footer;
    
    .footer{
        text-align: center;
        color: $primary-color;
        &--address{
            margin: 20px 0;
        }
    }
    .menu-footer{
        background-color: $primary-color;
        padding: 20px 50px;
        .menu-item{
            margin: 0 10px;
        }
        .blockicon{
            &--image{
                margin: 0 5px;
            }
        }
    }
}