@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
#header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  nav {
    align-items: center;
    justify-content: end;
  }

  .navbar {
    background-color: transparent;
    padding: 20px 0;
    transition: 0.3s;
    &.scrolled {
      background-color: $primary-color;
    }
    .menu-desktop {
      text-align: center;
      @media (max-width: $desktop) {
        display: none;
      }
      .menu-item {
        display: inline-block;
        transform-origin: center;
        will-change: transform;
        transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1);
        margin-right: 20px;
        cursor: pointer;
        @media (max-width: $desktop) {
          margin-right: 30px;
        }
        &:hover {
          transform: scale(1.2);
          font-weight: 700;
          color: $secondary-color !important;
        }
        &.onhover {
          color: $primary-color;
          z-index: 99;
          font-weight: 700;
        }
      }
    }
  }
  .create {
    text-align: right;
  }
}
.lineafter {
  position: absolute;
  display: block;
  @media (max-width: $desktop) {
    display: none;
  }
  &--banner {
    top: 0;
    right: 50px;
  }
  &--port1 {
    top: -35%;
    left: -22%;
  }
  &--port2 {
    bottom: -10%;
    right: -0%;
    z-index: 1;
  }
}

.linetran {
  position: absolute;
  display: block;
  @media (max-width: $desktop) {
    display: none;
  }
  &--banner {
    top: 20%;
    right: 50px;
  }
  &--port2 {
    bottom: -10%;
    right: -0%;
    z-index: 1;
  }
}
