<div class="containers containers--footer">
        <div class="footer">
            <h2>Yuanta Securities (Thailand)</h2>
            <div class="footer footer--address">เลขที่ 127 อาคารเกษร ทาวเวอร์ ชั้น 14-16 ถนนราชดำริ แขวงลุมพินี เขตปทุมวัน จังหวัดกรุงเทพฯ 10330<br>Tel: 0-2009-8000 Fax: 02-009-8889 Email: online@yuanta.co.th</div>
        </div>
    </div>
    <nav class="row menu-footer">
        <div class="col-12 col-sm-2">
            <img src="assets/image/logo-y.png" alt="Yuanta"/>
        </div> 
        <div class="col-12 col-sm-7 menu-wrapper">
            <a href="#" class="menu-item">
                <span>Privacy Policy</span>
            </a>
            <a href="#" class="menu-item">
                <span>Disclaimers</span>
            </a>
            <a href="#" class="menu-item dropdown-l">
                <span>Careers</span>
            </a>
        </div>
        <div class="col-12 col-sm-3">
            <img class="blockicon blockicon--image" src="assets/image/icons/facebook.png" alt="Yuanta"/>
            <img class="blockicon blockicon--image" src="assets/image/icons/lineid.png" alt="Yuanta"/>
            <img class="blockicon blockicon--image" src="assets/image/icons/youtube.png" alt="Yuanta"/>
            <img class="blockicon blockicon--image" src="assets/image/icons/ig.png" alt="Yuanta"/>
            <img class="blockicon blockicon--image" src="assets/image/icons/Vector.png" alt="Yuanta"/>
            <img class="blockicon blockicon--image" src="assets/image/icons/x.png" alt="Yuanta"/>
        </div>
    </nav>
</div>