<div class="containers containers--footer">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="title-f">About</div>
                    <div class="desc-f">Women</div>
                    <div class="desc-f">Collections</div>
                    <div class="desc-f">Editorial</div>
                    <div class="desc-f">Stories</div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="title-f">Help</div>
                    <div class="desc-f">Payment Notification</div>
                    <div class="desc-f">Customer Service</div>
                    <div class="desc-f">FAQ</div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="title-f">Socail</div>
                    <div class="desc-f">Instagram</div>
                    <div class="desc-f">Facebook</div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="title-f">Legal</div>
                    <div class="desc-f">Terms & Conditions</div>
                    <div class="desc-f">Privacy Policy</div>
                    <div class="desc-f">Cookies Policy</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="title-f">NewsLetter</div>
            <form>
                <input type="email" id="email" placeholder="Email" name="email" required>
                <button class="button-f">
                    <input type="submit" value="SUBSCRIBE">
                </button>
            </form>
        </div>
    </div>
    <div class="copyright">
        <div class="c-name">©PLAIMANAS</div>
        <div class="c-creator">Web by :: Papichaya</div>
    </div>
</div>