<header class="navbar">
    <div class="containers containers--nav">
        <nav class="row">
            <div class="col-2">
               <img src="assets/image/logo.png" alt="Yuanta"/>
            </div>
            <div class="menu-desktop col-8">
                <div class="containers containers--menu">
                    <a href="#" class="menu-item">
                        <span>ขั้นตอนเปิดพอร์ต</span>
                    </a>
                    <a href="#" class="menu-item">
                        <span>Why Yuanta</span>
                    </a>
                    <div href="#" class="menu-item dropdown-l">
                        <span>โปรโมชัน</span>
                    </div>
                    <div class="menu-drop">
                        <a class="menu-drop-item" href="#">A.S.C</a>
                        <a class="menu-drop-item" href="#">Bazaar</a>
                        <a class="menu-drop-item" href="#">ELLE</a>
                        <a class="menu-drop-item" href="#">GQ</a>
                    </div>
                    <a href="#" class="menu-item">
                        <span>สิทธิพิเศษ</span>
                    </a>
                    <a href="#" class="menu-item">
                        <span>บริการของเรา</span>
                    </a>
                    <a href="#" class="menu-item">
                        <span>ติดต่อเรา</span>
                    </a>
                </div>
            </div>
            <div class="menu-mobile col-5 col-sm-6">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="create col-4 col-sm-2">
                <a href="#" class="create-item">
                    <button class="btn btn--create">เปิดบัญชี</button>
                </a>
            </div>
            <div class="nav-mobile">
                <div class="menu menu--warp">
                    <div class="item"><a href="#">Women</a></div>
                    <div class="item"><a href="#">Collections</a></div>
                    <div class="nav-item has-submenu item">
                        <div class="nav-toggle">
                            Editorial
                            <span class="nav-arrow"></span>
                        </div>
                        <div class="nav-submenu">
                            <div class="nav-subitem"><a href="#">A.S.C</a></div>
                            <div class="nav-subitem"><a href="#">Bazaar</a></div>
                            <div class="nav-subitem"><a href="#">ELLE</a></div>
                            <div class="nav-subitem"><a href="#">GQ</a></div>
                            <div class="nav-subitem"><a href="#">L'Offcial Thailand</a></div>
                            <div class="nav-subitem"><a href="#">Numero</a></div>
                            <div class="nav-subitem"><a href="#">Vogue</a></div>
                        </div>
                    </div>
                    <div class="item"><a href="#">Contact</a></div>
                    <img class="logo-submenu" src="assets/image/logo-black.png" alt="Yuanta"/>
                </div>
            </div>
        </nav>
    </div>
</header>

