<header class="navbar">
    <div class="containers containers--nav">
        <nav class="row">
            <div class="col-6 col-xl-2">
               <img src="assets/image/logo-y.png" alt="Yuanta"/>
            </div>
            <div class="menu-desktop col-8">
                <div class="containers containers--menu">
                    <a href="#banner" class="menu-item">
                        <span>ขั้นตอนเปิดพอร์ต</span>
                    </a>
                    <a href="#why" class="menu-item">
                        <span>Why Yuanta</span>
                    </a>
                    <a href="#promo" class="menu-item">
                        <span>โปรโมชัน</span>
                    </a>
                    <a href="#reward" class="menu-item">
                        <span>สิทธิพิเศษ</span>
                    </a>
                    <a href="#contact" class="menu-item">
                        <span>บริการของเรา</span>
                    </a>
                    <a href="#contact" class="menu-item">
                        <span>ติดต่อเรา</span>
                    </a>
                </div>
            </div>
            <div class="create col-6 col-xl-2">
                <a href="#" class="create-item">
                    <button class="btn btn--create">เปิดบัญชี</button>
                </a>
            </div>
        </nav>
    </div>
</header>

