<header class="navbar">
    <div class="containers containers--nav">
        <nav class="row">
            <div class="dropdown col-3">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    TH - THB
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">US - USD</a>
                </div>
            </div>
            <div class="menu-desktop col-6">
                <div class="containers containers--menu">
                    <a href="#" class="menu-item">
                        <span>Women</span>
                    </a>
                    <a href="#" class="menu-item">
                        <span>Collections</span>
                    </a>
                    <div href="#" class="menu-item dropdown-l">
                        <span>Editorial</span>
                    </div>
                    <div class="menu-drop">
                        <a class="menu-drop-item" href="#">A.S.C</a>
                        <a class="menu-drop-item" href="#">Bazaar</a>
                        <a class="menu-drop-item" href="#">ELLE</a>
                        <a class="menu-drop-item" href="#">GQ</a>
                    </div>
                    <a href="#" class="menu-item">
                        <span>News</span>
                    </a>
                    <a href="#" class="menu-item">
                        <span>Stories</span>
                    </a>
                </div>
            </div>
            <div class="menu-mobile col-5 col-sm-6">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="signin col-4 col-sm-3">
                <a href="#" class="signin-item">
                    <span>Sign in</span>
                </a>
                <a href="#" class="cart-item">
                    <img src="assets/image/icons/bucket.png" alt="Plaimanas"/>
                </a>
            </div>
            <div class="nav-mobile">
                <div class="menu menu--warp">
                    <div class="item"><a href="#">Women</a></div>
                    <div class="item"><a href="#">Collections</a></div>
                    <div class="nav-item has-submenu item">
                        <div class="nav-toggle">
                            Editorial
                            <span class="nav-arrow"></span>
                        </div>
                        <div class="nav-submenu">
                            <div class="nav-subitem"><a href="#">A.S.C</a></div>
                            <div class="nav-subitem"><a href="#">Bazaar</a></div>
                            <div class="nav-subitem"><a href="#">ELLE</a></div>
                            <div class="nav-subitem"><a href="#">GQ</a></div>
                            <div class="nav-subitem"><a href="#">L'Offcial Thailand</a></div>
                            <div class="nav-subitem"><a href="#">Numero</a></div>
                            <div class="nav-subitem"><a href="#">Vogue</a></div>
                        </div>
                    </div>
                    <div class="item"><a href="#">Contact</a></div>
                    <img class="logo-submenu" src="assets/image/logo-black.png" alt="Plaimanas"/>
                </div>
            </div>
        </nav>
    </div>
</header>
